<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JASO | CREW</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/starter-code/assets/shared/logo.svg">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/cre.css">
</head>
<body>
    <div class="hero">
      <header id="header">
        <div class="div-logo">
          <img src="../../assets/shared/logo.svg" alt="log0" id="logo">
        </div>
        <div class="barra"></div>
        <nav class="navbar">
          <ul class="links-nav">
            <a class="link-n" href="../../../index.html"><span>00</span> HOME</a>
            <a class="link-n " href="../templates/destination.html"><span>01</span> DESTINATION</a>
            <a class="link-n is-active" href="../templates/crew.html"><span>02</span> CREW</a>
            <a class="link-n " href="../templates/technology.html"><span>03</span> TECHNOLOGY</a>
          </ul>
        </nav>
        <div class="btn-menu">
          <a class=" menu is-open" href="#"><img  src="../../assets/shared/icon-hamburger.svg" alt=""></a>
          <a class="menu" href="#">
            <img  src="../../assets/shared/icon-close.svg" alt=""></a>
        </div>
      </header>
        <section class="crew-block">
            <div class="title-crew">
                <h2><span>02</span> MEET YOUR CREW</h2>
            </div>
            <div class="img-crew">
                
            </div>
            <div class="text-block">
                <h3 class="rol"></h3>
                <h2 class="nombre"></h2>
                <P class="bio"></P>
                <div class="links">
                    <button class="btn-slide is-active" id="slide1"></button>
                    <button class="btn-slide" id="slide2"></button>
                    <button class="btn-slide" id="slide3"></button>
                    <button class="btn-slide" id="slide4"></button>
                </div>
            </div>
        </section>
        </div>
        <script src="../js/crew.js" type="module"></script>
        <script src="../js/app.js"></script>
        
</body>
</html>